/* -- Base css
-------------------------------------------- -- */
html {
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--typo-para);
  margin: 0;
  padding: 0;
  background: var(--light-bg-color);
}

* {
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a,
button {
  outline: none;
  transition: all 0.5s;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

/* -- Print Media query
---------------------------------------- -- */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* -- Print styles- Inlined to avoid the additional HTTP request:
----------------------------------------------------------------------------- */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: var(--typo-title) !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* -- Don't show links that are fragment identifiers -- */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid var(--border-color);
    page-break-inside: avoid;
  }

  /* -- Printing Tables -- */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
