/* -- Buttons
--------------------------------------- -- */

button {
  cursor: pointer;
  text-decoration: none;
}

.primary-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.4rem 2rem 1.2rem;
  background: var(--action-color);
  border: 0.2rem solid var(--border-color);
  border-width: 0;
  outline: none;
  border-radius: 0.4rem;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 50%;
    background: inherit;
    border-radius: 5rem;
    z-index: -1;
    filter: blur(1rem);
    opacity: 0;
    transition: inherit;
  }

  &::after {
    content: " ";
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    z-index: -1;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    text-decoration: none;
    color: #fff;

    &::before {
      opacity: 1;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  @include mobile {
    font-size: 14px;
    line-height: 2.4rem;
  }
}

// Secondary button
.secondary-btn {
  @extend .primary-btn;
  background: transparent;
  color: var(--typo-para);
  border-width: 0.2rem;
  padding: 1.2rem 2rem 1rem;

  &.btn-mid {
    font-size: 1.4rem;
    padding: 0.9rem 2rem 0.7rem;
  }

  // Small button
  &.btn-small {
    padding: 0.7rem 2rem 0.5rem;
  }

  &:hover {
    border-color: var(--action-color);
    color: var(--action-color);
  }

  &::after,
  &::before {
    display: none;
  }
}

// Medium button
.btn-mid {
  @extend .primary-btn;
  font-size: 1.4rem;
  padding: 1.2rem 2rem 1rem;
}

// Small button
.btn-small {
  @extend .primary-btn;
  font-size: 1.4rem;
  padding: 0.9rem 2rem 0.7rem;
}

// Action link button
.btn-link {
  font-size: 1.7rem;
  line-height: 2rem;
  color: var(--action-color);
  position: relative;
  transition: all 0.5s;
  text-decoration: underline;

  &:hover {
    color: var(--action-color);
  }

  &:focus {
    outline: none;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    &:not(:nth-last-of-type(1)) {
      margin-right: 20px;
    }
  }

  &.centered {
    justify-content: center;
    margin: 0 -1rem;

    a {
      margin: 0 1rem;
    }
  }
}

.disabled {
  pointer-events: none;
}
